<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>NY Times Web Scraper Homework</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/style.css">

</head>

<body>
<!--Navbar -->
<nav class="nav-style navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Mongo Scraper</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/savedarticles">Saved Articles</a></li>
                <li>
                    <a href="/scrape" class="btn btn-danger scrape-button">SCRAPE NEW ARTICLES!</a>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<!-- Main component for a primary marketing message or call to action -->
<div class="row">
    <div class="col-sm-12 color-white">
        <img class="img-responsive title-img" src="./images/print.jpg" alt="title image">
        <h1 class="text-center position-rel times-font">Mongoose Scraper</h1>
        <h3 class="text-center position-rel times-font">New York Times Edition</h3>

    </div>
</div>

<!--<div class="container">-->
    <!--<div class="row">-->
        <!--<div class="col-sm-12">-->
            <!--<div class="article">-->
                <!--<h3 class="text-center yellow">Oh uh. Looks like we don't have any new articles.</h3>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


<script id="scrape-modal-detail-template" type="text/x-handlebars-template">
    <!--<div class="ui modal modal-detail-card">-->
    <i class="close icon"></i>
    <div class="header">
        \{{title}}
        <!-- rebound.vegetarian: true -->
        <i class="icon vegetarian-icon"></i>
    </div>
    <div class="ui horizontal segments">
        <div class="ui segment">
            <div class="ui tiny statistic">
                <div class="value">
                    <!-- rebound.servings: 2 -->
                    <i class="spoon icon"></i>
                    \{{servings}}
                </div>
                <!-- rebound.preparationMinutes: 30 -->
                <div class="label">
                    Servings
                </div>
            </div>
        </div>
        <div class="ui segment">
            <div class="ui tiny statistic">
                <div class="value">
                    <i class="heartbeat icon"></i>
                    \{{Calories}}
                </div>
                <!--   "nutrition": {
                "nutrients": [{
                  "title": "Calories",
                  "amount": 259.03, -->
                <div class="label">
                    Calories
                </div>
            </div>
        </div>
        <div class="ui segment">
            <div class="ui tiny statistic">
                <div class="value">
                    <i class="dashboard icon"></i>
                    \{{preparationMinutes}}
                </div>
                <!-- rebound.preparationMinutes: 30 -->
                <div class="label">
                    Prep time
                </div>
            </div>
        </div>
        <div class="ui segment">
            <div class="ui tiny statistic">
                <div class="value">
                    <i class="wait icon"></i>
                    \{{cookingMinutes}}
                </div>
                <!-- rebound.cookingMinutes: 15 -->
                <div class="label">
                    Cook time
                </div>
            </div>
        </div>
    </div>

    <div class="ui horizontal segments">
        <div class="ui segment">
            <div class="ui image">
                <img class="ui fluid image" src="\{{image}}">
            </div>
        </div>
        <div class="ui segment">
            <div class="meta">
                <span>MISSING INGREDIENTS</span>
            </div>
            <div class="ui large list">
                \{{#each this.missedIngredients}}
                <div class="item">\{{this.name}}</div>
                \{{/each}}
            </div>
        </div>
        <div class="ui segment">
            <div class="meta">
                <span>USED INGREDIENTS</span>
            </div>
            <div class="ui large list">
                \{{#each this.usedIngredients}}
                <div class="item">\{{this.name}}</div>
                \{{/each}}
            </div>
        </div>
    </div>

    <div class="actions">
        <button class="ui black deny button"><i class="inverted share icon"></i>Next Recipe</button>
        <button class="ui green button add-to-cart-button"><i class="shop icon"></i>Add to Cart</button>
        <span class="right floated"></span>
    </div>

    <!--</div>-->
</script>
{{{body}}}
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/javascripts/script.js"></script>
</html>