<div class="container article-block">
  <div class="row saved">
    <div class="col-sm-12">

      {{#each articles}}
        <div class="article" data-id="{{this.id}}">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 id='artTitle' class="panel-title">{{this.title}}</h3>
              <button class="btn btn-success create-none float-right note-modal" data-id="{{this._id}}"
                      data-toggle="modal" data-target="#myModal">ARTICLE NOTES
              </button>
              <button type="submit" class="btn btn-danger delete-art float-right" data-id="{{this._id}}">Delete
                resource
              </button>
            </div>
            <div id='artPost' class="panel-body"> {{this.post}} </div>
          </div>

          <div class="modal fade article-notes-modal" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Notes for Article: blah blah</h4>
                </div>
                <div class="modal-body">
                  <div class="notes-container">
                  </div>
                  <textarea class="form-control note-entry" rows="5" name="body"></textarea>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success save-note" data-dismiss="modal">Save Note</button>
                </div>
              </div>

            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>

<script id="single-note-template" type="text/x-handlebars-template">
  <div class="note">
    <p>\{{body}}
      <button type="button" class="btn btn-danger btn-sm float-right delete-note" data-id="NotValidId">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </p>
  </div>
</script>

